<% if (typeof display === 'undefined') { var display = 'default'; } -%>
<% if (typeof type === 'undefined') { var type = 'default'; } -%>
<% if (typeof service === 'undefined') { var service = 'default'; } -%>
<nav class="c-FAB">
  <div class="c-FAB__inner">
    <ul class="c-FAB__items">
      <li class="c-FAB__item">
        <a class="c-FAB__itemBody u-FlexBox u-FlexBox--middle u-FlexBox--center" href="javascript:;">
          <i aria-hidden="true" class="fa fa-plus"></i>
        </a>
    </ul><!-- /c-FAB__items -->
  </div><!-- /c-FAB__inner -->
</nav><!-- /c-FAB -->
