<% if (typeof display === 'undefined') { var display = 'default'; } -%>
<% if (typeof type === 'undefined') { var type = 'default'; } -%>
<% if (typeof service === 'undefined') { var service = 'default'; } -%>
<footer class="c-Footer">
  <div class="c-Footer__inner">
  <ul class="c-Footer__items u-FlexBox u-FlexBox--middle u-FlexBox--center">
    <li class="c-Footer__item">
      <a href="javascript:;">ワガハイ辞典について</a>
    </ll><!-- /c-Footer__item -->
  </ul><!-- /c-Footer__items -->
  <small>&copy; Meme Sphere</small>
  </div><!-- /c-Footer__inner -->
</footer><!-- /c-Footer -->
