<% if (typeof display === 'undefined') { var display = 'default'; } -%>
<% if (typeof type === 'undefined') { var type = 'default'; } -%>
<% if (typeof service === 'undefined') { var service = 'default'; } -%>
<footer class="c-Footer">
  <div class="c-Footer__inner">
    <small>&copy; Meme Sphere</small>
  </div><!-- /c-Footer__inner -->
</footer><!-- /c-Footer -->
