<% if (typeof display === 'undefined') { var display = 'default'; } -%>
<% if (typeof type === 'undefined') { var type = 'default'; } -%>
<% if (typeof service === 'undefined') { var service = 'default'; } -%>
<nav class="c-FooterNavigation">
  <div class="c-FooterNavigation__inner">
    <ul class="c-FooterNavigation__items u-FlexBox u-FlexBox--middle">
      <li class="c-FooterNavigation__item is-current">
        <a class="c-FooterNavigation__itemBody" href="">
          <i aria-hidden="true" class="fa fa-lg fa-th-list"></i>
          <span>全体</span>
        </a>
      </li><!-- /c-FooterNavigation__item -->
      <li class="c-FooterNavigation__item">
        <a class="c-FooterNavigation__itemBody" href="">
          <i aria-hidden="true" class="fa fa-lg fa-address-card"></i>
          <span>プロフィール</span>
        </a>
      </li><!-- /c-FooterNavigation__item -->
      <li class="c-FooterNavigation__item">
        <a class="c-FooterNavigation__itemBody" href="">
          <i aria-hidden="true" class="fa fa-lg fa-flag"></i>
          <span>ランキンング</span>
        </a>
      </li><!-- /c-FooterNavigation__item -->
      <li class="c-FooterNavigation__item">
        <a class="c-FooterNavigation__itemBody" href="">
          <i aria-hidden="true" class="fa fa-lg fa-search"></i>
          <span>検索</span>
        </a>
      </li><!-- /c-FooterNavigation__item -->
    </ul><!-- /c-FooterNavigation__items -->
  </div><!-- /c-FooterNavigation__inner -->
</nav><!-- /c-FooterNavigation -->
