<% if (typeof display === 'undefined') { var display = 'default'; } -%>
<% if (typeof type === 'undefined') { var type = 'default'; } -%>
<nav class="c-Pager">
<div class="c-Pager__inner u-FlexBox u-FlexBox--middle u-FlexBox--center">
  <a class="c-Pager__prev" disabled tabindex="-1"><i class="icon-f icon-f__prev" aria-hidden="true"></i><b>前へ</b></a>
  <span class="c-Pager__num"><em>1<b class="c-Pager__separator">/</b>10</em></span>
  <a class="c-Pager__next" href="javascript:;"><b>次へ</b><i class="icon-f icon-f__next" aria-hidden="true"></i></a>
</div><!-- /c-Pager__inner -->
</nav><!-- /c-Pager -->