<% if (typeof display === 'undefined') { var display = 'default'; } -%>
<% if (typeof type === 'undefined') { var type = 'default'; } -%>
<div class="c-SearchBox">
<div class="c-SearchBox__inner">
  <div class="c-SearchBox__search u-FlexBox u-FlexBox--middle u-FlexBox--center">
    <label for="search"><i aria-hidden="true" class="fa fa-lg fa-search"></i></label>
    <input type="search" name="q" class="c-Input__control" id="search" placeholder="辞典を探す" value="">
  </div><!-- /c-SearchBox__search --> 
</div><!-- /c-SearchBox__inner -->
</div><!-- /c-SearchBox -->