<% if (typeof display === 'undefined') { var display = 'default'; } -%>
<% if (typeof type === 'undefined') { var type = 'default'; } -%>
<nav class="c-Tab">
<div class="c-Tab__inner">
  <ul class="c-Tab__items u-FlexBox u-FlexBox--middle u-FlexBox--center">
    <li class="c-Tab__item is-current">
      <a href="javascript:;">あなたの辞典</a>
    </li><!-- /c-Tab__item -->
    <li class="c-Tab__item">
      <a href="javascript:;">お気に入り</a>
    </li><!-- /c-Tab__item -->
    <li class="c-Tab__item">
      <a href="javascript:;">フォロワー</a>
    </li><!-- /c-Tab__item -->
  </ul><!-- /c-Tab__items --> 
</div><!-- /c-Tab__inner -->
</nav><!-- /c-Tab -->