<% if (typeof display === 'undefined') { var display = 'default'; } -%>
<% if (typeof type === 'undefined') { var type = 'default'; } -%>
<% if (typeof rout === 'undefined') { var rout = 'default' } -%>
<% if (type === 'ranking') { -%>
<nav class="c-Tab">
<div class="c-Tab__inner">
  <ul class="c-Tab__items u-FlexBox u-FlexBox--middle u-FlexBox--center">
  <% if (rout == 'ranking_dictionary') { -%>
    <li class="c-Tab__item">
      <a href="javascript:;">ユーザーランキング</a>
    </li><!-- /c-Tab__item -->
    <li class="c-Tab__item is-current">
      <a href="javascript:;">辞書ランキング</a>
    </li><!-- /c-Tab__item -->
  <% } else { -%>
    <li class="c-Tab__item is-current">
      <a href="javascript:;">ユーザーランキング</a>
    </li><!-- /c-Tab__item -->
    <li class="c-Tab__item">
      <a href="javascript:;">辞書ランキング</a>
    </li><!-- /c-Tab__item -->
  <% } -%>
  </ul><!-- /c-Tab__items --> 
</div><!-- /c-Tab__inner -->
</nav><!-- /c-Tab -->
<% } else { -%>
<nav class="c-Tab">
<div class="c-Tab__inner">
  <ul class="c-Tab__items u-FlexBox u-FlexBox--middle u-FlexBox--center">
    <li class="c-Tab__item is-current">
      <a href="javascript:;">あなたの辞典</a>
    </li><!-- /c-Tab__item -->
    <li class="c-Tab__item">
      <a href="javascript:;">お気に入り</a>
    </li><!-- /c-Tab__item -->
    <li class="c-Tab__item">
      <a href="javascript:;">フォロワー</a>
    </li><!-- /c-Tab__item -->
  </ul><!-- /c-Tab__items --> 
</div><!-- /c-Tab__inner -->
</nav><!-- /c-Tab -->
<% } -%>