<%- include('setting/_setting', {}); %>
<!DOCTYPE html>
<html lang="ja">
<%- include('component/_header', {display:'default', type: 'default', version: 'default'}); %>
<body>

<section class="c-Contents">
<div class="c-Contents__inner">
<div class="c-Contents__header u-FlexBox u-FlexBox--middle">
  <a class="btn-back" href="javascript:;">
    <i aria-hidden="true" class="fa fa-lg fa-angle-left"></i>
    <span>戻る</span>
  </a>
  <h1 class="c-Contents__headerTitle u-FlexBox__item--fill">
    辞典作成
  </h1>
</div><!-- /c-Contents__header -->

<div class="c-Contents__body">
<div class="c-Input">
<div class="c-Input__inner">
  <div class="c-Input__group">
    <div class="c-Input__label">
      <label for="categoryID"><span>辞書名を入力</span></label>
    </div>
    <input type="text" name="category" class="c-Input__control" id="categoryID" value="">
  </div><!-- /c-Input__group -->

  <div class="c-Input__action u-FlexBox u-FlexBox--middle u-FlexBox--center">
    <a class="c-Input__button" href="javascript:;">辞書作成</a>
  </div><!-- /c-Input__action -->
</div><!-- /c-Input__inner -->
</div><!-- /c-Input -->
</div><!-- /c-Contents__body -->

</div><!-- /c-Contents__inner -->
</section><!-- /c-Contents -->

<%- include('component/_footer', {display:'default', type: 'default', service: 'default'}); %>
<%- //include('component/_fab', {display:'default', type: 'default', service: 'default'}); %>
</body>
</html>
