<% if (typeof display === 'undefined') { var display = 'default'; } -%>
<% if (typeof title === 'undefined') { var title = 'ユーザー名'; } -%>
<% if (typeof type === 'undefined') { var type = 'default'; } -%>
<% if (typeof rout === 'undefined') { var rout = 'default' } -%>
<section class="sph-Profile">
<div class="sph-Profile__inner">
  <div class="sph-Profile__header u-FlexBox u-FlexBox--middle">
    <a href="javascript:;" class="sph-Profile__user">
      <span class="u-FlexImage u-FlexImage--1by1">
        <img src="https://picsum.photos/80/80/?random" class="u-FlexImage__image u-FlexImage__image--img" alt="" loading="lazy">
      </span>
    </a><!-- /sph-Profile__user -->
    <% if (rout === 'other') { -%>
    <div class="sph-Profile__action u-FlexBox__item--fill">
      <p class="sph-Profile__actionTitle">ランキング99位</p>
      <div class="sph-Profile__actionItems u-FlexBox u-FlexBox--middle">
        <a class="sph-Profile__actionItem" href="javascript:;">日記</a>
        <button class="sph-Profile__actionItem sph-Profile__actionItem--favorite" type="button">
          <i aria-hidden="true" class="fa fa-lg fa-heart"></i>
          <span>9999</span>
        </button>
      </div><!-- /sph-Profile__actionItems -->
    </div><!-- /sph-Profile__action -->
    <% } else { -%>
    <div class="sph-Profile__action u-FlexBox__item--fill">
      <p class="sph-Profile__actionTitle">ランキング8位</p>
      <div class="sph-Profile__actionItems u-FlexBox u-FlexBox--middle">
        <a class="sph-Profile__actionItem" href="javascript:;"><i aria-hidden="true" class="fa fa-plus"></i>辞典</a>
        <a class="sph-Profile__actionItem" href="javascript:;"><i aria-hidden="true" class="fa fa-plus"></i>日記</a>
      </div><!-- /sph-Profile__actionItems -->
    </div><!-- /sph-Profile__action -->
    <% } -%>
  </div><!-- /sph-Profile__header -->

  <div class="sph-Profile__body">
    <p class="sph-Profile__selfintroduction">
      <span class="u-TextEllipsis3line">
      かきくけこ、さしすせそ、はまやらわ、かきくけこ、さしすせそ、はまやらわ、かきくけこ、さしすせそ、はまやらわ、かきくけこ、さしすせそ、はまやらわ、かきくけこ、さしすせそ、はまやらわ、かきくけこ、さしすせそ、はまやらわ、かきくけこ、さしすせそ、はまやらわ、かきくけかきくけこ、さしすせそ、はまやらわ、かきくけこ、さしすせそ、はまやらわ、かきくけこ、さしすせそ、はまやらわ、かきくけこ、さしすせそ、はまやらわ、かきくけこ、さしすせそ、はまやらわ、かきくけこ、さしすせそ、はまやらわ、かきくけこ、さしすせそ、はまやらわ、かきくけ
      </span>
    </p>

    <div class="sph-Profile__scorecard">
      <ul class="sph-Profile__scorecardItems u-FlexBox u-FlexBox--middle">
        <li class="sph-Profile__scorecardItem">
          <b>120</b>
          <span>辞典数</span>
        </li><!-- /sph-Profile__scorecardItem -->
        <li class="sph-Profile__scorecardItem">
          <b>1,039</b>
          <span>単語数</span>
        </li><!-- /sph-Profile__scorecardItem -->
        <li class="sph-Profile__scorecardItem">
          <b>21</b>
          <span>お気入り数</span>
        </li><!-- /sph-Profile__scorecardItem -->
      </ul><!-- /sph-Profile__scorecardItems -->
    </div><!-- /sph-Profile__scorecard -->

    <p class="sph-Profile__totalpoint">
      <span>TOTAL POINT</span>
      <b>189.00</b>
    </p><!-- /sph-Profile__totalpoint -->
  </div><!-- /sph-Profile__body -->

</div><!-- /sph-Profile__inner -->
</section><!-- /sph-Profile -->