<% if (typeof display === 'undefined') { var display = 'default'; } -%>
<% if (typeof count === 'undefined') { var count = 3; } -%>
<% if (typeof title === 'undefined') { var title = 'タイトル'; } -%>
<% if (typeof type === 'undefined') { var type = 'default'; } -%>
<% if (typeof rout === 'undefined') { var rout = 'default' } -%>
<%
var items = {
  "dummy":[
  {"title":"タイトルの辞典テキスト表示1行","description":"「単語１」「単語２」「単語３」「単語４」「単語５」「単語単語単語」","link":"javascript:;","thumbnail":"https://picsum.photos/80/80/?random"},
]};
var n = items.dummy.length;
while(n < count){
  items.dummy.push({"title":"タイトルの辞典テキスト表示2行まで表示するコンテンツ名テキスト表示","description":"「単語１」「単語２」「単語３」「単語４」「単語５」「単語単語単語」表示2行まで表示する","link":"javascript:;","thumbnail":"https://picsum.photos/seed/picsum/80/80"});
  n++;
}
-%>
<section class="sph-Result sph-Result--user">
<div class="sph-Result__inner">
  <div class="sph-Result__header">
    <h2 class="sph-Result__headerTitle"><%- title %></h2>
  </div><!-- /sph-Result__header -->

  <div class="sph-Result__body">
    <div class="sph-Result__users">
      <% items["dummy"].forEach(function(data){ -%>
        <a href="<%= data.link %>" class="sph-Result__user">
          <span class="sph-Result__userImage u-FlexImage u-FlexImage--1by1">
            <img src="<%= data.thumbnail %>" class="u-FlexImage__image u-FlexImage__image--img" alt="" loading="lazy">
          </span>
          <span class="sph-Result__userName u-TextEllipsis2line">
            名前名前名前名前名前名前名前名前名前名前
          </span>
        </a><!-- /sph-Result__user -->
      <% }); -%>
    </div><!-- /sph-Result__users -->
  </div><!-- /sph-Result__body -->
</div><!-- /sph-Result__inner -->
</section><!-- /sph-Result -->