<% if (typeof display === 'undefined') { var display = 'default'; } -%>
<% if (typeof title === 'undefined') { var title = 'ユーザー名'; } -%>
<% if (typeof type === 'undefined') { var type = 'default'; } -%>
<% if (typeof rout === 'undefined') { var rout = 'default' } -%>
<section class="sph-Word">
<div class="sph-Word__inner">
<% if (type === 'detail') { -%>
  <div class="sph-Word__body">
    <p class="sph-Word__title">【連続テレビドラマ/れんぞくてれびどらま】</p>
    <dl class="sph-Word__category">
      <dt>辞典</dt>
      <dd>ホゲホゲホゲ</dd>
      <dd>aaaaaaaaaaa</dd>
      <dd>oooooo</dd>
    </dl>
    <p class="sph-Word__text">
      <img class="sph-Word__image" src="https://picsum.photos/150/150/?random" alt="" loading="lazy">
      かきくけこ、さしすせそ、はまやらわ、かきくけこ、さしすせそ、はまやらわ、かきくけこ、さしすせそ、はまやらわ、かきくけこ、さしすせそ、はまやらわ、かきくけこ、さしすせそ、はまやらわ、かきくけこ、さしすせそ、はまやらわ、かきくけこ、さしすせそ、はまやらわ、かきくけかきくけこ、さしすせそ、はまやらわ、かきくけこ、さしすせそ、はまやらわ、かきくけこ、さしすせそ、はまやらわ、かきくけこ、さしすせそ、はまやらわ、かきくけこ、さしすせそ、はまやらわ、かきくけこ、さしすせそ、はまやらわ、かきくけこ、さしすせそ、はまやらわ、かきくけ
    </p>
  </div><!-- /sph-Word__body -->
<% } -%>
</div><!-- /sph-Word__inner -->
</section><!-- /sph-Word -->