/* ---------------------------------- *\
   #Contents
\* ---------------------------------- */

.c-Contents {
  &__inner {
    padding: 0;
    background: #fff;
    min-height: 100vh;
  }

  &__header {
    position: sticky;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 48px;
    top: 0;
    left: 0;
    z-index: 2;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

    &Title {
      text-align: center;
      font-size: 16px;
      font-weight: 700;
    }

    span {
      margin-left: 5px;
      font-weight: 700;
    }

    .btn-offcanvas {
      background: #fff;
      border: none;
      padding: 10px;
    }

    .btn-setting {
      display: block;
      padding: 10px;
      font-size: 18px;
    }

    .btn-back {
      position: absolute;
      display: block;
      top: 50%;
      left: 10px;
      margin-top: -0.5em;
    }

    // Action Button
    &Button {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      padding: 8px 32px;
      height: 100%;
      text-align: center;
      color: #fff;
      font-weight: 700;
      border: 1px solid #e2e2e2;
      // border-radius: 35px;

      background: #1d5ac5;
      box-shadow: -4px 0 4px rgba(55, 84, 170, 0.15);
      transition: box-shadow 0.2s ease-in-out;
      cursor: pointer;
      outline: none;
      border: none;

      &:focus,
      &:hover {
        color: black;
      }
    }
  }

  &__body {
    padding-top: 20px;
  }

  &__footer {
  }
}
