/* ---------------------------------- *\
   #FooterNavigation
\* ---------------------------------- */

.c-FAB {
  position: fixed;
  bottom: 100px;
  right: 10px;
  z-index: 2;

  &__inner {
  }

  &__items {

  }

  &__item {
    &Body {
      display: block;
      padding: 10px 12px;
      background: #fff;
      box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
      background: #2c5de5;
      line-height: 0;
      border-radius: 100%;
    }

    .fa {
      color: #fff;
      font-size: 20px;
    }
  }
}
