/* ---------------------------------- *\
   #Footer
\* ---------------------------------- */

.c-Footer {

  .show-menu & {
    display: none;
  }

  &__inner {
    padding: 24px 24px 100px;
    border-top: 1px solid #eee;
    background: #fff;
    text-align: center;
    font-size: 14px;
  }

  &__items {

  }

  &__item {
    padding: 5px 0;

    &::after {
      content: "-";
      margin: 0 5px;
    }

    &:last-child {
      &::after {
        display: none;
      }
    }

  }

}
