/* ---------------------------------- *\
   #Footer
\* ---------------------------------- */

.c-Footer {
   &__inner {
      padding: 24px 24px 100px;
      border-top: 1px solid #eee;
      background: #fff;
      text-align: center;

      small {
         font-size: 14px;
      }
   }
}
