/* ---------------------------------- *\
   #Input
\* ---------------------------------- */

.c-Input {
  &__inner {
    padding: 16px;
  }

  &__title {
    padding-bottom: 10px;
    font-weight: 700;
  }

  &__group {
    padding: 0 0 20px;
  }

  &__label {
    padding-bottom: 5px;
  }

  &__control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    background: #FFFFFF;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &--borderBox {
      display: inline-block;
      width: 120px;
      background: transparent;
      border: 2px solid #fff;
    }
  }

  textarea {
    min-height: 200px;
  }

  &__checkbox {
    label {
      padding: 0 10px 0 0;
    }

    input {
      margin-right: 5px;
    }
  }

  &__action {
    padding: 16px;
  }

  &__button {
    display: block;
    min-width: 250px;
    padding: 8px 16px;
    text-align: center;
    color: #fff;
    font-weight: 700;
    border: 1px solid #E2E2E2;
    border-radius: 4px;

    background: #1D5AC5;
    box-shadow: 
      inset 0 0 5px rgba(55, 84, 170, 0), 
      inset 0 0 10px rgba(255, 255, 255, 0), 
      5px 5px 9px rgba(55, 84, 170, 0.15), 
      -5px -5px 11px white, 
      inset 0px 0px 2px rgba(255, 255, 255, 0.2);
    transition: box-shadow 0.2s ease-in-out;
    cursor: pointer;
    outline: none;
    border: none;

    &:focus, &:hover {
      color: black;
    }
  }
}
