/* ---------------------------------- *\
   #RATING
\* ---------------------------------- */

// ```html:c-Ratings
// <div class="c-Ratings">
//   <p class="u-TextHiddenVisually">星4.5個</p>
//   <span class="c-Ratings__rating c-Ratings__rating--rate45" aria-hidden="true">
//     <i class="icon-f icon-f--star_r1"></i><!--
//     --><i class="icon-f icon-f--star_r1"></i><!--
//     --><i class="icon-f icon-f--star_r1"></i><!--
//     --><i class="icon-f icon-f--star_r1"></i><!--
//     --><i class="icon-f icon-f--star_r1"></i><!--
//     --><i class="icon-f icon-f--star_p5"></i><!--
//     --><i class="icon-f icon-f--star_r0"></i><!--
//     --><i class="icon-f icon-f--star_r0"></i><!--
//     --><i class="icon-f icon-f--star_r0"></i><!--
//     --><i class="icon-f icon-f--star_r0"></i><!--
//     --><i class="icon-f icon-f--star_r0"></i>
//   </span>
// </div><!-- /c-Ratings -->
// ```

.c-Ratings {
  margin-top: 4px;
  color: $setting-rating-color;
  font-size: 12px;

  &__rating {
    overflow: hidden;
    padding: 0;
    margin: 0;
    display: block;
    width: 5em;
    height: 1em;
    line-height: 1;

    // Android4.2.2 bugfix
    i {
      display: inline-block;
      width: 1em;

      &:before {
        display: block;
        width: 1em;
      }
    }

    // stars
    &--rate00 {
      :nth-child(1) {
        margin-left: -6em;
      }
    }

    &--rate10 {
      :nth-child(1) {
        margin-left: -4em;
      }

      :nth-child(6) {
        display: none;
      }
    }

    &--rate20 {
      :nth-child(1) {
        margin-left: -3em;
      }

      :nth-child(6) {
        display: none;
      }
    }

    &--rate30 {
      :nth-child(1) {
        margin-left: -2em;
      }

      :nth-child(6) {
        display: none;
      }
    }

    &--rate40 {
      :nth-child(1) {
        margin-left: -1em;
      }

      :nth-child(6) {
        display: none;
      }
    }

    // half-stars
    &--rate05 {
      :nth-child(1) {
        margin-left: -5em;
      }
    }

    &--rate15 {
      :nth-child(1) {
        margin-left: -4em;
      }
    }

    &--rate25 {
      :nth-child(1) {
        margin-left: -3em;
      }
    }

    &--rate35 {
      :nth-child(1) {
        margin-left: -2em;
      }
    }

    &--rate45 {
      :nth-child(1) {
        margin-left: -1em;
      }
    }
  }
}
