/* ---------------------------------- *\
   #Tab
\* ---------------------------------- */

.c-Tab {
  &__inner {
    padding: 5px;
  }

  &__items {
    padding: 2px;
    border-radius: 5px;
    background: #eee;
    text-align: center;
  }

  &__item {
    width: 100%;
    padding: 4px;
    border-radius: 4px;

    a {
      display: block;
    }

    &.is-current {
      background: #fff;
    }
  }

  &__separator {
    padding: 0 4px;
  }
}
