/* ---------------------------------- *\
   #Tab
\* ---------------------------------- */

.c-Tab {
  &__inner {
    padding: 5px;
  }

  &__items {
    padding: 4px;
    border-radius: 5px;
    background: #eee;
    text-align: center;
  }

  &__item {
    width: 100%;
    padding: 4px;
    border-radius: 4px;

    a {
      display: block;
    }

    &.is-current {
      background: #fff;
      box-shadow: 3px 3px 4px rgb(163, 177, 198, .3), -3px -3px 4px  rgba(255, 255, 255, .2);
    }
  }

  &__separator {
    padding: 0 4px;
  }
}
