/* ---------------------------------- *\
   #Diary
\* ---------------------------------- */

//----------------------------------------------------
//  import
//----------------------------------------------------

// ----------------------------------------------------
// 変数
// ----------------------------------------------------
.#{$setting-service-id}-Diary {

  &__inner {
    margin: 0 auto;
    padding: 16px 8px;
    background: #fff;
  }

  &__header {
    text-align: center;
    padding-bottom: 15px;

    &Title {
      font-weight: 700;
    }

    &Button {
      width: 42px;

      &--prev {

      }

      &--next {

      }
    }
  }

  &__body {
  }

  &__items {

  }

  &__item {

    &Inner {
      display: block;
      margin-bottom: 10px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background: #fff;
      box-shadow: 3px 3px 4px rgb(163, 177, 198, .3), -3px -3px 4px  rgba(255, 255, 255, .2);

      &--detail {
        border: none;
      }
    }

    &Title {
      font-weight: 700;
    }

    &Text {
      margin-top: 10px;
    }

    &SubText {
      margin-top: 10px;
    }

    &Description {
      margin-top: 10px;
    }
  }
}
