/* ---------------------------------- *\
   #Word
\* ---------------------------------- */

//----------------------------------------------------
//  import
//----------------------------------------------------

// ----------------------------------------------------
// 変数
// ----------------------------------------------------
.#{$setting-service-id}-Word {

  &__inner {
    margin: 0 auto;
    padding: 16px 8px;
    background: #fff;
  }

  &__header {
  }

  &__body {
  }

  &__title {
    padding-top: 15px;
    font-weight: 700;
  }

  &__category {
    padding-top: 15px;

    dt {
      display: inline-block;

      &::after {
        content: '：';
      }
    }

    dd {
      display: inline-block;

      &::after {
        content: '、';
      }

      &:last-child {
        &::after {
          content: '';
        }
      }
    }
  }

  &__text {
    overflow: hidden;
    padding-top: 30px;
  }

  &__image {
    float: right;
    width: 150px;
    height: 150px;
    padding-left: 5px;
    padding-bottom: 5px;
  }
}
